{include file="template/header" /}

    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <div class="span3 avatar-box">
                </div>

                <div class="span7 personal-info">

                    <?php if(session('message') == 'add_success') { ?>
                    <div class="alert alert-success">
                        添加成功！
                    </div>
                    <?php } else if(session('message') == 'update_success') { ?>
                    <div class="alert alert-success">
                        更新成功！
                    </div>
                    <?php } ?>
                    <h5 class="personal-title">成绩细节</h5>
                    <form action="" method="post">
                        <div class="field-box">
                            <label>课程名称：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('课程名称')}</div>
                        </div>
                        <div class="field-box">
                            <label>学分：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('学分')}</div>
                        </div>
                        <div class="field-box">
                            <label>平时成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('平时成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>期中成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('期中成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>期末成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('期末成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>实验成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('实验成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>总评成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('总评成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>折算成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('折算成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>补考成绩：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('补考成绩')}</div>
                        </div>
                        <div class="field-box">
                            <label>绩点：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('绩点')}</div>
                        </div>
                        <div class="field-box">
                            <label>课程性质：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('课程性质')}</div>
                        </div>
                        <div class="field-box">
                            <label>课程归属：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('课程归属')}</div>
                        </div>
                        <div class="field-box">
                            <label>选课课号：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('选课课号')}</div>
                        </div>
                        <div class="field-box">
                            <label>学年：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('学年')}</div>
                        </div>
                        <div class="field-box">
                            <label>学期：</label>
                            <div style="margin-left:4px; height:39px;">{$score->getAttr('学期')}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>